@import 'bootstrap';

html {
  font-size: 14px;
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.2;
  color: #212121;
  background-color: #9e9e9e;
  overflow-y: scroll;
}

.icon {
  width: 1em;
  height: 1em;
  &--solid {
    fill: currentColor;
  }
  &--big {
    width: 1.5em;
    height: 1.5em;
  }
}

.text {
  &-primary {
    color: #64b5f6;
  }
  
  &-accent {
    color: #ea8300;
  }

  &-vue {
    color: #42b983;
  }

  &-laravel {
    color: #ff2d20;
  }
}

.lazy-opacity-blur {
  filter: blur(10px);
  opacity: 0;
  transition: opacity 1s, filter 1s !important;

  &[lazy="loaded"] {
    filter: blur(0);
    opacity: 1;
  }
}

.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.2s ease-in-out;
}

.page-enter,
.page-leave-active,
.layout-enter,
.layout-leave-active {
  opacity: 0;
}
