$primary-color: #64b5f6;
$accent-color: #ea8300;
$danger-color: #f44336;
$vue-color: #42b983;
$laravel-color: #ff2d20;

$whitest: #fff;
$white: #fafafa;

$gray-lightest: #e0e0e0;
$gray: #9e9e9e;
$gray-darken: #616161;
$gray-darkest: #424242;
